doctype html
html
  head
    title='Road Cycling'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css')
  body
    block header
      .ui.fixed.inverted.menu
        .ui.container
          a.header.item(href='/') Road Cycling App
          a.header.item(href='/segments' class=(path.startsWith('/segments') ? 'active' : '')) Segments
          a.header.item.right(href='/logout') Logout

    .ui.main.container
      block content

    block scripts
      script(src="https://code.jquery.com/jquery-3.2.1.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js")
