include mixins/_yearModals
include mixins/_ftpModals
include mixins/_weightModals
include mixins/_targetModals

doctype html
html
  head
    title='Road Cycling'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css')
  body
    block header
      .ui.fixed.inverted.menu
        .ui.container
          a.header.item(href='/') Road Cycling App
          a.header.item(href='/segments' class=(path.startsWith('/segments') ? 'active' : '')) Segments
          a.header.item(href='/fitness' class=(path.startsWith('/fitness') ? 'active' : '')) Fitness
          .ui.simple.dropdown.item
            i.setting.icon
            i.dropdown.icon
            .menu
              .item
                i.dropdown.icon
                span.text Year
                .menu
                  #add-year.item
                    i.plus.icon.green
                  #delete-year.item
                    i.minus.icon.red
              .item
                i.dropdown.icon
                span.text FTP
                .menu
                  #add-ftp.item
                    i.plus.icon.green
                  #delete-ftp.item
                    i.minus.icon.red
              .item
                i.dropdown.icon
                span.text Weight
                .menu
                  #add-weight.item
                    i.plus.icon.green
                  #delete-weight.item
                    i.minus.icon.red
              .item
                i.dropdown.icon
                span.text Target
                .menu
                  #add-target.item
                    i.plus.icon.green
                  #delete-target.item
                    i.minus.icon.red
          a.header.item.right(href='/logout') Logout

    .ui.main.container
      block messages
        if locals.flashes
          - const success = flashes['success']
          - const error = flashes['error']
          if success
            .ui.positive.message.home-message
              i.close.icon
              .header= success[0]
          else if error
            .ui.negative.message.home-message
              i.close.icon
              .header
                | Error
              each message in error
                p= message
      block content

    +addYearModal
    +deleteYearModal
    +addFtpModal
    +deleteFtpModal
    +addWeightModal
    +deleteWeightModal
    +addTargetModal
    +deleteTargetModal

    block scripts
      script(src='https://code.jquery.com/jquery-3.2.1.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
      script(src='/javascripts/main.js')

    block script