body {
  background-color: #DADADA;
}

.main.container {
  margin-top: 7em;
}

.ui.segments>.segment.fitness-graph {
  width: 60%;
}

.ui.segments>.segment.fitness-table {
  width: 40%;
}

.ui.message .list:not(.ui) li {
  margin: 0 0 .3em 0;
}

.ui.message .list:not(.ui) li::before {
  display: none;
}